In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import folium

In [ ]:
seoul_grid = gpd.read_file("data/seoul_100_grid.shp", encoding='euc-kr')
seoul_merged = gpd.read_file("data/Seoul_merged_data.shp", encoding='utf-8')

In [ ]:
seoul_grid.head()

In [29]:
seoul_merged.head()

,gid,pop,total_b,res_single,res_multi,b_over_20,geometry
0,다사469469,364.0,13.0,3.0,4.0,NaN,"POLYGON ((126.89910 37.51987, 126.89909 37.520..."
1,다사495448,448.0,21.0,3.0,18.0,16.0,"POLYGON ((126.92866 37.50109, 126.92866 37.501..."
2,다사677419,426.0,2.0,NaN,2.0,NaN,"POLYGON ((127.13469 37.47576, 127.13469 37.476..."
3,다사418475,215.0,10.0,1.0,6.0,NaN,"POLYGON ((126.84134 37.52497, 126.84133 37.525..."
4,다사597458,52.0,17.0,3.0,NaN,13.0,"POLYGON ((127.04400 37.51060, 127.04400 37.511..."

In [66]:
total_pop = seoul_merged['pop'].sum()
print("전체 인구 수:", total_pop)

전체 인구 수: 9133449.0

In [65]:
seoul_merged.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 61649 entries, 0 to 61648
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gid         61649 non-null  object
 1   pop         30960 non-null  float64
 2   total_b     33722 non-null  float64
 3   res_single  19746 non-null  float64
 4   res_multi   24953 non-null  float64
 5   b_over_20   10175 non-null  float64
 6   geometry    61649 non-null  geometry
dtypes: float64(5), geometry(1), object(1)
memory usage: 3.3+ MB

In [38]:
import geopandas as gpd

# GeoDataFrame 생성
gdf_grid = gpd.GeoDataFrame(seoul_grid, geometry='geometry')
gdf_merged = gpd.GeoDataFrame(seoul_merged, geometry='geometry')

# sjoin을 사용하여 right join 수행
gdf_joined = gpd.sjoin(gdf_merged, gdf_grid, how='inner', op='intersects')

C:\Users\1qlqj\Desktop\multicamp_semi\multicamp_semi\venv\Lib\site-packages\IPython\core\interactiveshell.py:3517: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [39]:
gdf_joined

,gid,pop,total_b,res_single,res_multi,b_over_20,geometry,index_right,EMD_CD,EMD_KOR_NM
0,다사469469,364.0,13.0,3.0,4.0,NaN,"POLYGON ((126.89910 37.51987, 126.89909 37.520...",49614,11560111,당산동1가
0,다사469469,364.0,13.0,3.0,4.0,NaN,"POLYGON ((126.89910 37.51987, 126.89909 37.520...",49620,11560111,당산동1가
0,다사469469,364.0,13.0,3.0,4.0,NaN,"POLYGON ((126.89910 37.51987, 126.89909 37.520...",49615,11560111,당산동1가
0,다사469469,364.0,13.0,3.0,4.0,NaN,"POLYGON ((126.89910 37.51987, 126.89909 37.520...",49621,11560111,당산동1가
1,다사495448,448.0,21.0,3.0,18.0,16.0,"POLYGON ((126.92866 37.50109, 126.92866 37.501...",53269,11590108,대방동
...,...,...,...,...,...,...,...,...,...,...
61648,다사594476,NaN,8.0,NaN,NaN,NaN,"POLYGON ((127.04051 37.52681, 127.04050 37.527...",63218,11680104,청담동
61648,다사594476,NaN,8.0,NaN,NaN,NaN,"POLYGON ((127.04051 37.52681, 127.04050 37.527...",64484,11680107,신사동
61648,다사594476,NaN,8.0,NaN,NaN,NaN,"POLYGON ((127.04051 37.52681, 127.04050 37.527...",64485,11680107,신사동
61648,다사594476,NaN,8.0,NaN,NaN,NaN,"POLYGON ((127.04051 37.52681, 127.04050 37.527...",63205,11680104,청담동
61648,다사594476,NaN,8.0,NaN,NaN,NaN,"POLYGON ((127.04051 37.52681, 127.04050 37.527...",65082,11680110,압구정동

In [40]:
gdf_joined.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 268688 entries, 0 to 61648
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   gid          268688 non-null  object
 1   pop          136955 non-null  float64
 2   total_b      149566 non-null  float64
 3   res_single   87818 non-null   float64
 4   res_multi    108634 non-null  float64
 5   b_over_20    44214 non-null   float64
 6   geometry     268688 non-null  geometry
 7   index_right  268688 non-null  int64
 8   EMD_CD       268688 non-null  object
 9   EMD_KOR_NM   268688 non-null  object
dtypes: float64(5), geometry(1), int64(1), object(3)
memory usage: 22.5+ MB

In [48]:
# 'gid', 'index_right' 열 제거
gdf_cleaned = gdf_joined.drop(columns=['gid', 'index_right'])

# 인덱스 재설정 (기존 인덱스 제거)
gdf_cleaned.reset_index(drop=True, inplace=True)

# 새로운 'id' 열 추가 (1부터 시작하는 순서대로 번호 매김)
# gdf_cleaned['id'] = range(1, len(gdf_cleaned) + 1)

# 'id' 열을 기준으로 정렬
# gdf_cleaned = gdf_cleaned.sort_values(by='id')

# 결과 확인
print(gdf_cleaned.head())

     pop  total_b  res_single  res_multi  b_over_20  \
0  364.0     13.0         3.0        4.0        NaN
1  364.0     13.0         3.0        4.0        NaN
2  364.0     13.0         3.0        4.0        NaN
3  364.0     13.0         3.0        4.0        NaN
4  448.0     21.0         3.0       18.0       16.0

                                            geometry    EMD_CD EMD_KOR_NM
0  POLYGON ((126.89910 37.51987, 126.89909 37.520...  11560111      당산동1가
1  POLYGON ((126.89910 37.51987, 126.89909 37.520...  11560111      당산동1가
2  POLYGON ((126.89910 37.51987, 126.89909 37.520...  11560111      당산동1가
3  POLYGON ((126.89910 37.51987, 126.89909 37.520...  11560111      당산동1가
4  POLYGON ((126.92866 37.50109, 126.92866 37.501...  11590108        대방동

In [47]:
# 'geometry' 열의 고유값 개수 확인
unique_geometries = gdf_cleaned['geometry'].nunique()
print(f"'geometry' 열의 고유값 개수: {unique_geometries}")

# 전체 데이터 개수에서 'geometry' 열의 고유값 개수를 빼서 중복된 'geometry' 값의 개수를 확인
duplicate_geometries = len(gdf_cleaned) - unique_geometries
print(f"'geometry' 열에서 중복된 값의 개수: {duplicate_geometries}")

'geometry' 열의 고유값 개수: 61647
'geometry' 열에서 중복된 값의 개수: 207041

In [59]:
import pandas as pd
import geopandas as gpd

def select_representative_row(group):
    """
    각 geometry 그룹에 대해 비어 있지 않은 'pop', 'total_b', 'res_Single' 값이 
    가장 많은 행을 선택합니다. 동일한 수의 비어 있지 않은 값이 있는 경우,
    첫 번째 행을 선택합니다.
    """
    # 'pop', 'total_b', 'res_Single' 열에서 비어 있지 않은 값의 개수 계산
    info_columns = ['pop', 'total_b', 'res_single', 'res_multi', 'b_over_20']
    group['non_empty_count'] = group[info_columns].notnull().sum(axis=1)
    
    # 가장 많은 비어 있지 않은 값을 가진 행 선택
    representative_row = group.sort_values('non_empty_count', ascending=False).iloc[0]
    
    return representative_row

# 'geometry' 열을 기준으로 그룹화하고, 각 그룹에 대해 대표 행을 선택
representative_rows = gdf_joined.groupby('geometry').apply(select_representative_row)

# 대표 행들만 포함하는 새 GeoDataFrame 생성
gdf_representative = gpd.GeoDataFrame(representative_rows, geometry='geometry').reset_index(drop=True)

# 결과 확인

C:\Users\1qlqj\AppData\Local\Temp\ipykernel_13064\384836163.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  representative_rows = gdf_joined.groupby('geometry').apply(select_representative_row)

In [60]:
gdf_representative

,gid,pop,total_b,res_single,res_multi,b_over_20,geometry,index_right,EMD_CD,EMD_KOR_NM,non_empty_count
0,다사392442,NaN,NaN,NaN,NaN,NaN,"POLYGON ((126.81219 37.49506, 126.81218 37.495...",46366,11530110,온수동,0
1,다사393441,NaN,NaN,NaN,NaN,NaN,"POLYGON ((126.81333 37.49416, 126.81332 37.495...",46369,11530110,온수동,0
2,다사394441,NaN,2.0,NaN,NaN,NaN,"POLYGON ((126.81446 37.49417, 126.81445 37.495...",46369,11530110,온수동,1
3,다사393442,NaN,NaN,NaN,NaN,NaN,"POLYGON ((126.81332 37.49506, 126.81331 37.495...",46370,11530110,온수동,0
4,다사394442,NaN,NaN,NaN,NaN,NaN,"POLYGON ((126.81445 37.49507, 126.81444 37.495...",46370,11530110,온수동,0
...,...,...,...,...,...,...,...,...,...,...,...
61642,다사697441,418.0,13.0,NaN,9.0,NaN,"POLYGON ((127.15722 37.49566, 127.15722 37.496...",70862,11710114,마천동,3
61643,다사698441,347.0,2.0,NaN,2.0,NaN,"POLYGON ((127.15835 37.49566, 127.15835 37.496...",70877,11710114,마천동,3
61644,다사699441,100.0,1.0,NaN,1.0,NaN,"POLYGON ((127.15948 37.49567, 127.15948 37.496...",70890,11710114,마천동,3
61645,다사699440,336.0,2.0,NaN,2.0,NaN,"POLYGON ((127.15949 37.49477, 127.15948 37.495...",70889,11710114,마천동,3
61646,다사699439,NaN,NaN,NaN,NaN,NaN,"POLYGON ((127.15949 37.49386, 127.15949 37.494...",70888,11710114,마천동,0

In [ ]:
final_gdf

In [ ]:
final_gdf.to_file("data/seoul_final.shp", encoding='utf-8')